/* Sticky footer styles
-------------------------------------------------- */
* {
  box-shadow:none !important;
}
h2 {
  font-size: 20px;
  text-align: center;
}
h4 {
  font-weight: 200;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 54.71875px;
  background-color: rgb(224,224,224);
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 54.71875px;
  background-color: #4a5c66;

}
.footer p {
  color: #fff;
  margin: 20px 0;
  text-align: center;
}
.footer p a {
  color: #80ba24;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.header {
  height: 150px;
  padding: 7px;
  box-sizing: border-box;
}
.header .container {
  text-align: center;
}
h1.brand {
  color: inherit;
  font-size: 25px;
  position: absolute;
  left:50%;
  -webkit-transform:translate(-50%,0%);
  display:inline-block;
  margin: 30px auto;
}
h1.brand span[class^="icon-"] {
  font-size: 2.2em;
}
h1.brand span.icon-radar {
  margin-right: -11px;
}
h1.brand span:nth-child(4) {
  display: block;
  margin-top: 20px;
}
a {
  color: #4a5c66;
}
a:hover {
  text-decoration: none;
}

.btn-group {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.btn-container {
  width: 130px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center
}

.btn-default.btn-icon {
  width: 80px;
  height: 80px;
  border: none;
  padding:10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.btn-icon:hover {
  background-color: #ffffff;
}

.icon {
  width: 60px;
  height: 60px;
  font-size: 48px;
  line-height: 60px;
  margin: auto;
  background: #ffffff;
}
.icon span, .icon span.icon-radar:before {
  color: #4a5c66;
}
.btn-label {
  margin-top: 10px;
  font-size: 14px;
}
.btn-label:hover {
  color: #4a5c66;

}
.gravure {
  text-align: center;
}
.gravure a {
  display: block;
  margin: 10px auto;
  font-size: 1.2em;
}

a.thmlink {
  font-size: 1.4em;
}
.panel-default>.panel-heading {
  background: #ffffff;

}
h4.panel-title span[class^="icon-"]{
  display: inline-block;
  width: 15px;
  box-sizing: border-box;

  text-align: center;
}
h4.panel-title span[class^="icon-"]:before {
    color: rgb(51,51,51);
}

h4.panel-title span:nth-child(2) {
  padding-left:15px;
}
.icon-button {
  width: 60px;
  height:60px;
  background: #ffffff;
  border-radius: 5px;
  margin: 20px auto;
  padding:15px 10px;
  text-align: center;
}
.icon-button span[class^="icon-"] {
    display:inline-block;
    vertical-align: middle;
    color: rgb(51,51,51);
}
.icon-button span[class^="icon-"]:before {
  font-size: 30px;
  color: #80ba24;
}


.carousel{margin-top: 40px; padding:0}
.item{padding:0 24px;}
item img{max-width:100%}
.carousel-caption{position:relative;left:0;right:0;text-shadow:none;bottom:0;color:#000;text-align:left;}
.carousel-caption span{display:inline-block;float:left;color:#80ba24}.carousel-caption h3{padding:.5em 0;color:#80ba24}
.screenshot + .carousel-caption{padding:20px}
.carousel-caption>span>p{display:inline-block}
.carousel-inner>.item>img{display:block;margin:0 auto}
.carousel-control{width:25px}
.carousel-control.left,.carousel-control.right{background-image:none;}

.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
  color: #4a5c66;
}

div.container .toggle-carousel,
div.toggle-carousel .container {
  width: auto;
}
h4.list {
  margin-left: 20px;
}
h4.list:before {
    color: #80ba24;
    font-weight:500;
    content: counter(ebene1) ". ";
    counter-increment: ebene1;
    width: 20px;
    margin-left: -20px;
}
.carousel-caption div {
  margin-left: 20px;
}
