
html {
  position: relative;
  min-height: 100%;
  font-size: 1.0em;
}
body {
  background-color: rgb(224,224,224);
  font-size:1.0em;
  font-weight:200;
}
* {
  box-shadow:none !important;
  text-shadow: none !important;
}
.noOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 40px;
}
h2 {
  font-size: 1.3em;
  font-weight: 200;
  line-height:1.6em;
  text-align: center;
}

.header {
  height: 170px;
  box-sizing: border-box;
  text-align: center;
}
h1.brand {
  color: inherit;
  position: absolute;
  left:50%;
  -webkit-transform:translate(-50%,0%);
  -moz-transform:translate(-50%,0%);
 transform:translate(-50%,0%);
  display:inline-block;
  margin: 35px 0;
}
h1.brand span[class^="icon-"] {
  font-size: 1.525em;
}
h1.brand span.icon-radar {
  margin-right: -11px;
}
h1.brand span:nth-child(4) {
  display: block;
  font-size:0.8em;
  font-weight:200;
  margin-top: 10px;
}



a {
  color: #4a5c66;
}
a:hover {
  text-decoration: none;
}

/* 
:::: Navigation buttons on start page ::::
----------------------------------------*/
.btn-group {
  display: block;
  margin: 0 auto 20px auto;
  text-align: center;
}
.btn-container {
  width: 130px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  text-align: center
}

.btn-default.btn-icon {
  width: 80px;
  height: 80px;
  border: none;
  padding:10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.btn-icon:hover {
  background-color: #ffffff;
}
.icon {
  width: 60px;
  height: 60px;
  font-size: 48px;
  line-height: 60px;
  margin: auto;
  background: #ffffff;
}
.icon span, .icon span.icon-radar:before {
  color: #4a5c66;
}
.btn-label {
  margin-top: 10px;
  font-size: 14px;
}
.btn-label:hover {
  color: #4a5c66;
}
.gravure {
  text-align: center;
}
.gravure p {
  margin: auto;
  font-size: 1.2em;
}

a.thmlink {
  font-size: 1.4em;
}

/* 
:::: Styles default.php ::::
----------------------------------------*/
.main-content {
  padding: 0 20px;
  max-width: 700px;
}

/* 
:::: Navigation list on main.php ::::
----------------------------------------*/
.list-group-item {
  height: 45px;
  border-width: thin;
  border-radius: 0;
  font-size: 1.1em;
  overflow:hidden;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAAZiS0dEALgAuAC41wNsvAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9sGEQk7MbF1V5sAAAENSURBVCjPY2CgNigtLS0pKyubSEgdMxqfsbS0tJuRkbGBgYHB3NLS8s+xY8cO49LMhC7AyMgoA5dkYmopLS1NIVbz//v378f///9/D5LYjLKysgCibF69evWvr1+/Bv7///8M1CXMDAwMy0tLS20xXInLSbm5uaIcHBxHGRkZVaFCH//9+2fX09NzCafNMDB58uTXjIyM6UhC/ExMTPPwOhvZ5v///89EEvr479+/JIKas7KyeDg4OLYhOfnH////fZGdjFVzaGgoGw8PzzpGRkYTBgYGhv////9lYGCI7O7uPkwotBkVFRUXMjAwuCKJZXR1dW0gKqr+////BMb+9+9fTXd39xyapG2KAAAvqFz8khrpYwAAAABJRU5ErkJggg==");
  background-position: 100%;
  background-repeat: no-repeat;
}
.list-group-item:last-child {
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
}
.list-group-item:first-child {
border-top-right-radius: 0;
border-top-left-radius: 0;
}
.list-group-item span:first-child {
   padding-right: 30px;
}
.list-group a:first-child .list-group-item {
  border-radius: 15px 15px 0 0;
}
.list-group a:last-child .list-group-item {
  border-radius: 0 0 15px 15px;
}
.icon-button {
  width: 60px;
  height:60px;
  background: #ffffff;
  border-radius: 5px;
  margin: 20px auto;
  padding:15px 10px;
  text-align: center;
}
.icon-button span[class^="icon-"] {
    display:inline-block;
    vertical-align: middle;
    color: rgb(51,51,51);
}
.icon-button span[class^="icon-"]:before {
  font-size: 30px;
  color: #80ba24;
}
/* 
:::: Instruction pages (carousel + list) ::::
-------------------------------------------*/
.instructions {
  background-color: #ffffff;
  border-radius: 15px;
}
.carousel{
  margin-top: 40px; 
  padding:0
}
.item {
  padding:0 24px;
}
item img{max-width:100%}
.carousel-caption{position:relative;left:0;right:0;text-shadow:none;bottom:0;color:#000;text-align:left;}
.carousel-caption span{display:inline-block;float:left;color:#80ba24}
.screenshot + .carousel-caption{padding:20px}
.carousel-caption>span>p{display:inline-block}
.carousel-inner>.item>img{display:block;margin:0 auto}
.carousel-control{width:25px}
.carousel-control.left,.carousel-control.right{background-image:none;}

.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
  color: #4a5c66;
}

div.container .toggle-carousel,
div.toggle-carousel .container {
  width: auto;
}
div.instruction-item {
    margin-left: 20px;
    margin-bottom: 10px;
}
div.result-text {
  margin-left: 20px;
}
span.list-counter {
  margin-left: -20px;
  font-size: 1.1em;
  color: #80ba24;
}
span.instruction-text {
  font-size: 1.1em;
  color: inherit;
}


div.result-text {
  font-size: 1.1em;
}
